# Sample role data used in the Vagrant OS test environment
# under vagrant/environments/ostest/
# Useful for testingi a set of profiles on different OS
# Here is a sample ostest.yaml file content.
# Alternatively we use symlinks to test an existing role on
# different Operting Systems.
#
#
---
# Use ::psick::ostest for testing Puppet code
# Add profiles to the list below to test whole profiles

psick::profiles::linux_classes:
  ostest: psick::ostest
  docker: psick::docker
  docker_examples: psick::docker::run_examples

network::interfaces_hash:
  eth0:
    enable_dhcp: true
  eth1:
    ipaddress: 10.42.45.106
    netmask: 255.255.255.0  
network::mroutes_hash:
  eth1:
    routes:
      10.21.0.0/16: 10.42.45.106
      10.22.0.0/16: 10.42.45.106
      10.23.0.0/16: 10.42.45.106
# For quicker tests we may not want to include all the
# base psick classes which are by default added to 
# all the roles. This is done setting manage parameter to false:
# psick::base::manage: false
